.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  min-height: 50rem;

  & .header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: solid 2px var(--Grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .content {
    display: flex;

    & .sidebar {
      background-color: var(--Grey-dark-1);
      flex: 0 0 18%;
    }
    & .hetel-view {
      background-color: #fff;
      flex: 1;
    }
  }
}
